<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quên mật khẩu</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
</head>
<body>
    <th:block th:replace="~{layout::header}"></th:block>
    <p th:if="${error}" th:text="${errordetail}" class="alert alert-danger"></p>
    <h1>Nhập email tài khoản cùa bạn</h1>
    <form th:action="@{/forgotpassword/verify}" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <button type="submit" class="btn btn-primary">Gửi</button>
    </form>
    <th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>