<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Xác thực OTP</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
</head>
<body>
    <th:block th:replace="~{layout::header}"></th:block>
    <h1>Nhập mã xác thực đã gửi về gmail của bạn</h1>
    <p th:text="${status}"></p>
    <form th:action="@{/forgotpassword/verifyotp}" method="post">
        <input type="hidden" name="email" th:value="${email}" >
        <label for="otp">OTP:</label>
        <input type="number" name="otp">
        <button type="submit" class="btn btn-primary">Gửi</button>
    </form>
    <th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>